@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-size: 12px;
  scroll-behavior: smooth;
  @apply text-stone-600 antialiased
}

/* sm */
@media (min-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
}

/* md */
@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}

/* lg */
@media (min-width: 1024px) {

  html,
  body {
    font-size: 16px;
  }
}

/* xl */
@media (min-width: 1280px) {

  html,
  body {
    font-size: 18px;
  }
}

/* 2xl */
@media (min-width: 1536px) {

  html,
  body {
    font-size: 22px;
  }
}

h1 {
  @apply text-5xl
}

h2 {
  @apply text-2xl
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }

  .snap-y {
    --scroll-snap-direction: y;
  }

  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }
}

.splide__slide {
  opacity: 50%;
}

.splide__slide.is-active {
  opacity: 100%;
  border: none;
}